/*
|------------------------------------------------------------
| Buttons
|------------------------------------------------------------
*/

%reset-btn {
    @include appearance(none);
    border: 0;
    margin: 0;
    padding: 0;
}

%btn {
    @extend %reset-btn;
    display: inline-block;
}

.btn-small {
    width: 25%;
}

.btn-medium {
    width: 50%;
}

.btn-big {
    width: 75%;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-default {
    @extend %btn;
}
