/*
|------------------------------------------------------------
| Media
|------------------------------------------------------------
*/

.media {
    display: table;
    width: 100%;
}

.media-image, .media-body {
    display: table-cell;
    vertical-align: middle;
}

.media-image {
    margin: 0;
    line-height: 0;

    img {
        max-width: none;
    }
}

.media-body {
    width: 100%;
    padding-left: 1em;
}
