/*
|------------------------------------------------------------
| Breakpoint mixin
|------------------------------------------------------------
*/

@mixin breakpoint ( $value ) {
    @if $value == 'phone' {
        @media only screen and (max-width: 767px) { @content; }
    }

    @else if $value == 'phone-portrait' {
        @media only screen and (max-width: 767px) and (orientation: portrait) { @content; }
    }

    @else if $value == 'phone-landscape' {
        @media only screen and (max-width: 767px) and (orientation: landscape) { @content; }
    }

    @else if $value == 'tablet' {
        @media only screen and (min-width: 768px) { @content; }
    }

    @else if $value == 'tablet-portrait' {
        @media only screen and (min-width: 768px) and (orientation: portrait) { @content; }
    }

    @else if $value == 'tablet-landscape' {
        @media only screen and (min-width: 768px) and (orientation: landscape) { @content; }
    }

    @else if $value == 'desktop' {
        @media only screen and (min-width: 1280px) { @content }
    }

    @else {
        @media only screen and (max-width: $value) { @content; }
    }
}
