/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/

.chromeframe {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}

*, *:before, *:after {
    @include box-sizing(border-box);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[placeholder]:focus::-webkit-input-placeholder {
    @include transition(text-indent 0.5s 0.5s ease);
    text-indent: -200%;
    @include opacity(1);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
