/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */

%main-font { font-family: ""; }
%main-font-bold {	font-family: ""; }
%basic-font { font-family: Arial, Helvetica, sans-serif; }
