/*
|------------------------------------------------------------
| Libs
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Settings
|------------------------------------------------------------
*/
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
|------------------------------------------------------------
| Variables
|------------------------------------------------------------
*/
* html {
  font-size: 87.5%; }

html {
  font-size: 14px;
  line-height: 1.5em; }

/*
|------------------------------------------------------------
| Mixins
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Retina sprite mixin
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Breakpoint mixin
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Icon mixin
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Rem mixin
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Input placeholder mixin
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Translate mixin
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/
.chromeframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: text-indent 0.5s 0.5s;
  -webkit-transition-delay: ease;
  -moz-transition: text-indent 0.5s 0.5s ease;
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -200%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/
/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */
/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Functions
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/
.container {
  *zoom: 1; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.hide {
  display: none; }

.clear {
  clear: both; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.fleft {
  float: left; }

.fright {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.padding {
  padding: 0.5em; }

.no-margin {
  margin: 0; }

.fixed {
  position: fixed; }

.upper {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

.strong {
  font-weight: bold; }

.vertical-middle {
  vertical-align: middle; }

.push-top-small {
  margin-top: 0.5em; }

.push-top {
  margin-top: 1em; }

.push-top-big {
  margin-top: 1.5em; }

.push-top-large {
  margin-top: 2em; }

.push-right-small {
  margin-right: 0.5em; }

.push-right {
  margin-right: 1em; }

.push-right-big {
  margin-right: 1.5em; }

.push-right-large {
  margin-right: 2em; }

.push-bottom-small {
  margin-bottom: 0.5em; }

.push-bottom {
  margin-bottom: 1em; }

.push-bottom-big {
  margin-bottom: 1.5em; }

.push-bottom-large {
  margin-bottom: 2em; }

.push-left-small {
  margin-left: 0.5em; }

.push-left {
  margin-left: 1em; }

.push-left-big {
  margin-left: 1.5em; }

.push-left-large {
  margin-left: 2em; }

.padd-top-small {
  padding-top: 0.5em; }

.padd-top {
  padding-top: 1em; }

.padd-top-big {
  padding-top: 1.5em; }

.padd-top-large {
  padding-top: 2em; }

.padd-right-small {
  padding-right: 0.5em; }

.padd-right {
  padding-right: 1em; }

.padd-right-big {
  padding-right: 1.5em; }

.padd-right-large {
  padding-right: 2em; }

.padd-bottom-small {
  padding-bottom: 0.5em; }

.padd-bottom {
  padding-bottom: 1em; }

.padd-bottom-big {
  padding-bottom: 1.5em; }

.padd-bottom-large {
  padding-bottom: 2em; }

.padd-left-small {
  padding-left: 0.5em; }

.padd-left {
  padding-left: 1em; }

.padd-left-big {
  padding-left: 1.5em; }

.padd-left-large {
  padding-left: 2em; }

/*
|------------------------------------------------------------
| Layout
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Grid
|------------------------------------------------------------
*/
.col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-2-4, .col-3-4 {
  display: inline-block;
  font-size: 14px;
  font-size: 1rem; }

.row {
  font-size: 0; }

.col-1-2 {
  /**
   * Calculating all margins that will be used in one line
   * 1 is subtracted because there will be no margin on first block
   */
  /**
   * Width of the column, margin is subtracted so we get the proper results
   */
  /**
   * In case the column is wider than 1 (2/3, 3/4, etc.), we append the margin that
   * would exist if there would be only 1 column so we get the proper width of the column
   */
  margin-left: 2.5%;
  vertical-align: top;
  width: 48.75%;
  /**
   * Remove margin from the first child and nth-child ($sum + 1) so the columns can break and align properly
   */ }
  .col-1-2:first-child, .col-1-2:nth-child(2n + 1) {
    margin-left: 0; }
  @media only screen and (max-width: 767px) {
    .col-1-2 {
      display: block;
      width: 95%;
      margin: 0.5em auto; }
      .col-1-2:first-child, .col-1-2:nth-child(2n + 1) {
        margin: 0.5em auto; } }
  .col-1-2.vertical-middle {
    vertical-align: middle; }

.col-1-3 {
  /**
   * Calculating all margins that will be used in one line
   * 1 is subtracted because there will be no margin on first block
   */
  /**
   * Width of the column, margin is subtracted so we get the proper results
   */
  /**
   * In case the column is wider than 1 (2/3, 3/4, etc.), we append the margin that
   * would exist if there would be only 1 column so we get the proper width of the column
   */
  margin-left: 2.5%;
  vertical-align: top;
  width: 31.66667%;
  /**
   * Remove margin from the first child and nth-child ($sum + 1) so the columns can break and align properly
   */ }
  .col-1-3:first-child, .col-1-3:nth-child(3n + 1) {
    margin-left: 0; }
  @media only screen and (max-width: 767px) {
    .col-1-3 {
      display: block;
      width: 95%;
      margin: 0.5em auto; }
      .col-1-3:first-child, .col-1-3:nth-child(3n + 1) {
        margin: 0.5em auto; } }
  .col-1-3.vertical-middle {
    vertical-align: middle; }

.col-2-3 {
  /**
   * Calculating all margins that will be used in one line
   * 1 is subtracted because there will be no margin on first block
   */
  /**
   * Width of the column, margin is subtracted so we get the proper results
   */
  /**
   * In case the column is wider than 1 (2/3, 3/4, etc.), we append the margin that
   * would exist if there would be only 1 column so we get the proper width of the column
   */
  margin-left: 2.5%;
  vertical-align: top;
  width: 65.83333%;
  /**
   * Remove margin from the first child and nth-child ($sum + 1) so the columns can break and align properly
   */ }
  .col-2-3:first-child, .col-2-3:nth-child(3n + 1) {
    margin-left: 0; }
  @media only screen and (max-width: 767px) {
    .col-2-3 {
      display: block;
      width: 95%;
      margin: 0.5em auto; }
      .col-2-3:first-child, .col-2-3:nth-child(3n + 1) {
        margin: 0.5em auto; } }
  .col-2-3.vertical-middle {
    vertical-align: middle; }

.col-1-4 {
  /**
   * Calculating all margins that will be used in one line
   * 1 is subtracted because there will be no margin on first block
   */
  /**
   * Width of the column, margin is subtracted so we get the proper results
   */
  /**
   * In case the column is wider than 1 (2/3, 3/4, etc.), we append the margin that
   * would exist if there would be only 1 column so we get the proper width of the column
   */
  margin-left: 2.5%;
  vertical-align: top;
  width: 23.125%;
  /**
   * Remove margin from the first child and nth-child ($sum + 1) so the columns can break and align properly
   */ }
  .col-1-4:first-child, .col-1-4:nth-child(4n + 1) {
    margin-left: 0; }
  @media only screen and (max-width: 767px) {
    .col-1-4 {
      display: block;
      width: 95%;
      margin: 0.5em auto; }
      .col-1-4:first-child, .col-1-4:nth-child(4n + 1) {
        margin: 0.5em auto; } }
  .col-1-4.vertical-middle {
    vertical-align: middle; }

.col-2-4 {
  /**
   * Calculating all margins that will be used in one line
   * 1 is subtracted because there will be no margin on first block
   */
  /**
   * Width of the column, margin is subtracted so we get the proper results
   */
  /**
   * In case the column is wider than 1 (2/3, 3/4, etc.), we append the margin that
   * would exist if there would be only 1 column so we get the proper width of the column
   */
  margin-left: 2.5%;
  vertical-align: top;
  width: 48.75%;
  /**
   * Remove margin from the first child and nth-child ($sum + 1) so the columns can break and align properly
   */ }
  .col-2-4:first-child, .col-2-4:nth-child(4n + 1) {
    margin-left: 0; }
  @media only screen and (max-width: 767px) {
    .col-2-4 {
      display: block;
      width: 95%;
      margin: 0.5em auto; }
      .col-2-4:first-child, .col-2-4:nth-child(4n + 1) {
        margin: 0.5em auto; } }
  .col-2-4.vertical-middle {
    vertical-align: middle; }

.col-3-4 {
  /**
   * Calculating all margins that will be used in one line
   * 1 is subtracted because there will be no margin on first block
   */
  /**
   * Width of the column, margin is subtracted so we get the proper results
   */
  /**
   * In case the column is wider than 1 (2/3, 3/4, etc.), we append the margin that
   * would exist if there would be only 1 column so we get the proper width of the column
   */
  margin-left: 2.5%;
  vertical-align: top;
  width: 74.375%;
  /**
   * Remove margin from the first child and nth-child ($sum + 1) so the columns can break and align properly
   */ }
  .col-3-4:first-child, .col-3-4:nth-child(4n + 1) {
    margin-left: 0; }
  @media only screen and (max-width: 767px) {
    .col-3-4 {
      display: block;
      width: 95%;
      margin: 0.5em auto; }
      .col-3-4:first-child, .col-3-4:nth-child(4n + 1) {
        margin: 0.5em auto; } }
  .col-3-4.vertical-middle {
    vertical-align: middle; }

/*
|------------------------------------------------------------
| Media
|------------------------------------------------------------
*/
.media {
  display: table;
  width: 100%; }

.media-image, .media-body {
  display: table-cell;
  vertical-align: middle; }

.media-image {
  margin: 0;
  line-height: 0; }
  .media-image img {
    max-width: none; }

.media-body {
  width: 100%;
  padding-left: 1em; }

/*
|------------------------------------------------------------
| Buttons
|------------------------------------------------------------
*/
.btn-default {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0; }

.btn-default {
  display: inline-block; }

.btn-small {
  width: 25%; }

.btn-medium {
  width: 50%; }

.btn-big {
  width: 75%; }

.btn-block {
  display: block;
  width: 100%; }

/*
|------------------------------------------------------------
| Forms
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Lists
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Modules
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Container
|------------------------------------------------------------
*/
.container {
  max-width: 960px;
  margin: 0.5em auto; }
  @media only screen and (max-width: 767px) {
    .container {
      width: 95%; } }
  @media only screen and (min-width: 768px) {
    .container {
      width: 95%; } }
