/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/

%clearfix {
    *zoom:1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

%hide-text {
    @include hide-text;
}

// Helper classes
.hide { display: none; }
.clear { clear: both; }
.block { display: block; }
.inline-block { display: inline-block; }
.fleft { float: left; }
.fright { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.padding { padding: 0.5em; }
.no-margin { margin: 0; }
.fixed { position: fixed; }
.upper { text-transform: uppercase; }
.underline { text-decoration: underline; }
.strong { font-weight: bold; }
.vertical-middle { vertical-align: middle; }

$base-margin: 1em;
$base-padding: 1em;

// Margin helpers
.push-top-small { margin-top: $base-margin/2; }
.push-top { margin-top: $base-margin; }
.push-top-big { margin-top: $base-margin * 1.5; }
.push-top-large { margin-top: $base-margin * 2; }

.push-right-small { margin-right: $base-margin/2; }
.push-right { margin-right: $base-margin; }
.push-right-big { margin-right: $base-margin * 1.5; }
.push-right-large { margin-right: $base-margin * 2; }

.push-bottom-small { margin-bottom: $base-margin/2; }
.push-bottom { margin-bottom: $base-margin; }
.push-bottom-big { margin-bottom: $base-margin * 1.5; }
.push-bottom-large { margin-bottom: $base-margin * 2; }

.push-left-small { margin-left: $base-margin/2; }
.push-left { margin-left: $base-margin; }
.push-left-big { margin-left: $base-margin * 1.5; }
.push-left-large { margin-left: $base-margin * 2; }

// Padding helpers

.padd-top-small { padding-top: $base-padding/2; }
.padd-top { padding-top: $base-padding; }
.padd-top-big { padding-top: $base-padding * 1.5; }
.padd-top-large { padding-top: $base-padding * 2; }

.padd-right-small { padding-right: $base-padding/2; }
.padd-right { padding-right: $base-padding; }
.padd-right-big { padding-right: $base-padding * 1.5; }
.padd-right-large { padding-right: $base-padding * 2; }

.padd-bottom-small { padding-bottom: $base-padding/2; }
.padd-bottom { padding-bottom: $base-padding; }
.padd-bottom-big { padding-bottom: $base-padding * 1.5; }
.padd-bottom-large { padding-bottom: $base-padding * 2; }

.padd-left-small { padding-left: $base-padding/2; }
.padd-left { padding-left: $base-padding; }
.padd-left-big { padding-left: $base-padding * 1.5; }
.padd-left-large { padding-left: $base-padding * 2; }
